@(message: String, user: Option[User], diagrams: List[String])(implicit request: RequestHeader, messages: Messages)
    @main(Messages("bpmn.modeler.title"), user) {
        @*b3.buttonType("submit", 'class -> "btn btn-default"){ <span class="glyphicon glyphicon-ok"></span> Sign in }*@
        @*<button id="save-button" type="button" class="btn btn-primary" >Save Diagram</button>*@
        <div>
        @if(diagrams.length > 0) {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Process
                        </th>
                    </tr>
                </thead>
                <tbody>
                @for(diagram <- diagrams) {
                    <tr><td><a href="@routes.BPMNDiagramController.loadModeller(diagram)">@diagram</a></td></tr>
                }
                </tbody>
            </table>
        }
        </div>
    }