@(message: String, user: Option[User], diagrams: List[BPMNDiagram])(implicit request: RequestHeader, messages: Messages)
    @main(Messages("bpmn.modeler.title"), user) {
        @if(diagrams.nonEmpty) {
            @for(diagram <- diagrams) {

                <!--
                    Dateielement im Repository mit Name, Beschreibung und Optionen
                -->

                <style>
                .nav-item.dropdown {
                    /* hide useless navbar elements */
                    display: none !important;
                    width:0px !important;
                    height:0px !important;
                }
                </style>

                <div class="card card-inverse" style="background-color: #333;
                    border-color: #333; ">
                    <div class="card-block">
                        <!-- repository file name -->
                        <h3 class="card-title">@diagram.id.stringify</h3>
                        <!-- description of file -->
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- controls -->
                        <a href="@routes.BPMNDiagramController.loadModeller(diagram.id)" class="btn btn-primary">
                            Open
                        </a>
                        <a href="@routes.BPMNDiagramController.download(diagram.id)" class="btn btn-info">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                            Download
                        </a>
                        <!-- -->
                    </div>
                </div>
            }
        }
    }