@(title: String, user: Option[User])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"*@
        @*integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">*@
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"*@
        @*integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">*@

        <link rel="stylesheet" href="@routes.Assets.at("libs/bpmn-js/assets/diagram-js.css")">
        <link rel="stylesheet" href="@routes.Assets.at("libs/bpmn-js/assets/bpmn-font/css/bpmn-embedded.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js" defer></script>

        @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"*@
        @*integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" defer></script>*@

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous" defer></script>


        <script type='text/javascript' src="@routes.Assets.at("libs/bpmn-js/bpmn-modeler.min.js")" defer></script>

        <script type='text/javascript' src="@routes.Assets.at("javascripts/resize-snippet.js")" defer></script>
    </head>
    <body>
        <div id="wrapper">
            @if(user.isDefined) {
                <div id="navigation">@navigation()</div>
            }
            <div id="content" class="container-fluid">@content</div>
        </div>
    </body>
</html>
