@(title: String, user: Option[User])(content: Html)

<!DOCTYPE html>

<html>
@head(title)
    <body>
        <div id="wrapper">

            <!--
                Main content + sidebar
            -->

            @if(user.isDefined) {
                <div id="navigation">@navigation()</div>
            }
            <div id="content" class="container-fluid">@content</div>

            <!-- Sidebar -->
            <!--
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="@routes.ApplicationController.index()">Process Modeller</a>
                    </li>
                    <li>
                        <a href="#" id="xml-button"><span class="glyphicon glyphicon-download"></span>
                            Download XML</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                </ul>
            </div>
            -->
            <!-- /#sidebar-wrapper -->

        </div>
    </body>

</html>
