@()
<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Logo</a>

    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="Preview">
                <a id="new-button" class="dropdown-item" href="@routes.BPMNDiagramController.newBPMNDiagram()">New Diagram</a>
                <a id="save-button" class="dropdown-item">Save Diagram</a>
            </div>
        </li>
        <li class="nav-item pull-xs-right">
            <a class="nav-link" href="@routes.SignOutController.signOut()">Logout</a>
        </li>
        <li class="nav-item pull-xs-right">
            <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item  pull-xs-right">
            <a class="nav-link" href="#">Repository</a>
        </li>
    </ul>
    <form id="load-form" class="form-inline">
        <input id="diagram-id" class="form-control" type="text" placeholder="Diagram ID">
    </form>
</nav>
