@import forms.SignInForm
@import b3.vertical.fieldConstructor

@(signInForm: Form[SignInForm.Data], user: Option[User])(implicit request: RequestHeader, messages: Messages)
@main(Messages("sign.in.title"), user) {
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }

    <style>
    header{
        background: #333;
        color: white;
        border-top: 1px darkgrey solid; /* solid darkgrey */
        border-bottom: 1px darkgrey solid; /* solid darkgrey */
        margin-bottom: 5%;
    }
    footer{
        padding-top: 50px;
        font-style: italic;
    }
    #profile-head {
        background: #333;
        color: #333;
        border-top: 1px darkgrey solid; /* solid darkgrey */
        border-bottom: 1px darkgrey solid; /* solid darkgrey */
    }
    </style>

        <!-- header -->
    <div>
        <div id="profile-head" class="col-md-3">
            <h1>A</h1>
            <p>A</p>
        </div>
        <header class="col-md-6">
            <h1>Welcome back to @Messages("app.name")</h1>
            <p>The free process modeller in the cloud</p>
        </header>
        <div id="profile-head" class="col-md-3">
            <h1>A</h1>
            <p>A</p>
        </div>
    </div>

    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@Messages("sign.in.credentials")</legend>
        @b3.form(action = routes.SignInController.submit()) {
            @b3.email(
                signInForm("email"),
                '_label -> Messages("email"),
                'placeholder -> Messages("email"),
                'class -> "form-control input-lg")
            @b3.password(
                signInForm("password"),
                '_label -> Messages("password"),
                'placeholder -> Messages("password"),
                'class -> "form-control input-lg")
            @b3.checkbox(
                signInForm("rememberMe"),
                '_text -> Messages("remember.me"),
                'checked -> true)

            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("sign.in")</button>
                </div>
            </div>
        }

        <div>
            <p class="not-a-member">@Messages("not.a.member") <a href="@routes.SignUpController.view">@Messages("sign.up.now")</a></p>
        </div>
    </fieldset>

    <!-- footer -->
    <div class="col-md-6 col-md-offset-3">
        <footer>
            <p class="text-muted">Process Modeller 2016 powered by BPMN.io</p>
        </footer>
    </div>
}
